In [3]:
# importations des librairies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# uploader le fichier du dataset principal en csv
data6 = pd.read_csv('HomeCredit_columns_description.csv', encoding="cp1252")
data6.iloc[0:10]

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN

In [29]:
data6.loc[data6['Row'] == 'AMT_INSTALMENT']
data6['Description'].iloc[217]

'What was the prescribed installment amount of previous credit on this installment'

In [2]:
data6['Description'].iloc[1]

'Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)'

In [4]:
#data6.loc[data6['Row'] == 'OWN_CAR_AGE']
data6.loc[data6['Row'] == 'OWN_CAR_AGE']

,Unnamed: 0,Table,Row,Description,Special
21,24,application_{train|test}.csv,OWN_CAR_AGE,Age of client's car,NaN

In [19]:
list_row1 = ['AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']
data6.loc[data6['Row'].isin(list_row1)]
data6['Description'].iloc[119]
# maybe summing up the credit enquiries

'Number of enquiries to Credit Bureau about the client one month before application (excluding one week before application)'

In [3]:
data6.shape

(219, 5)

In [37]:
list_row2 = ['FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE']
data6.loc[data6['Row'].isin(list_row2)]
#data6['Description'].iloc[90]

'Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor'

In [38]:
list_row3 = ['APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI']
data6.loc[data6['Row'].isin(list_row3)]
#data6['Description'].iloc[90]

,Unnamed: 0,Table,Row,Description,Special
72,75,application_{train|test}.csv,APARTMENTS_MEDI,Normalized information about building where th...,normalized
73,76,application_{train|test}.csv,BASEMENTAREA_MEDI,Normalized information about building where th...,normalized
74,77,application_{train|test}.csv,YEARS_BEGINEXPLUATATION_MEDI,Normalized information about building where th...,normalized
75,78,application_{train|test}.csv,YEARS_BUILD_MEDI,Normalized information about building where th...,normalized
76,79,application_{train|test}.csv,COMMONAREA_MEDI,Normalized information about building where th...,normalized
77,80,application_{train|test}.csv,ELEVATORS_MEDI,Normalized information about building where th...,normalized
78,81,application_{train|test}.csv,ENTRANCES_MEDI,Normalized information about building where th...,normalized
79,82,application_{train|test}.csv,FLOORSMAX_MEDI,Normalized information about building where th...,normalized
80,83,application_{train|test}.csv,FLOORSMIN_MEDI,Normalized information about building where th...,normalized
81,84,application_{train|test}.csv,LANDAREA_MEDI,Normalized information about building where th...,normalized
82,85,application_{train|test}.csv,LIVINGAPARTMENTS_MEDI,Normalized information about building where th...,normalized
83,86,application_{train|test}.csv,LIVINGAREA_MEDI,Normalized information about building where th...,normalized
84,87,application_{train|test}.csv,NONLIVINGAPARTMENTS_MEDI,Normalized information about building where th...,normalized
85,88,application_{train|test}.csv,NONLIVINGAREA_MEDI,Normalized information about building where th...,normalized

In [42]:
data6.loc[data6['Row'] == 'NAME_TYPE_SUITE']
data6['Description'].iloc[194]

'Who accompanied client when applying for the previous application'

In [44]:
data6.loc[data6['Row'] == 'NAME_HOUSING_TYPE']
data6['Description'].iloc[15]

'What is the housing situation of the client (renting, living with parents, ...)'

In [46]:
data6.loc[data6['Row'] == 'WEEKDAY_APPR_PROCESS_START']
data6['Description'].iloc[32]

'On which day of the week did the client apply for the loan'

In [49]:
data6.loc[data6['Row'] == 'CNT_CHILDREN']
#data6['Description'].iloc[6]

'Number of children the client has'

In [50]:
data6.loc[data6['Row'] == 'AMT_ANNUITY']

,Unnamed: 0,Table,Row,Description,Special
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN
138,141,bureau.csv,AMT_ANNUITY,Annuity of the Credit Bureau credit,NaN
176,179,previous_application.csv,AMT_ANNUITY,Annuity of previous application,NaN

In [54]:
data6.loc[data6['Row'] == 'AMT_GOODS_PRICE']
data6['Description'].iloc[180]

'Goods price of good that client asked for (if applicable) on the previous application'

In [56]:
data6.loc[data6['Row'] == 'REGION_POPULATION_RELATIVE']
data6['Description'].iloc[16]

'Normalized population of region where client lives (higher number means the client lives in more populated region)'

In [9]:
data6.loc[data6['Row'] == 'FONDKAPREMONT_MODE']
data6['Description'].iloc[86]

'Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor'

In [60]:
#data6.loc[data6['Row'] == 'DAYS_BIRTH']
data6.loc[data6['Row'].isin(['DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH'])]
data6['Description'].iloc[17:21].tolist()

["Client's age in days at the time of application",
 'How many days before the application the person started current employment',
 'How many days before the application did client change his registration',
 'How many days before the application did client change the identity document with which he applied for the loan']

In [62]:
data6.loc[data6['Row'].isin(['FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL'])]

,Unnamed: 0,Table,Row,Description,Special
22,25,application_{train|test}.csv,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",NaN
23,26,application_{train|test}.csv,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",NaN
24,27,application_{train|test}.csv,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
25,28,application_{train|test}.csv,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",NaN
26,29,application_{train|test}.csv,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
27,30,application_{train|test}.csv,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",NaN

In [17]:
data6.loc[data6['Row'].isin(['CNT_FAM_MEMBERS',
                             'REGION_RATING_CLIENT',
                             'REGION_RATING_CLIENT_W_CITY',
                             'WEEKDAY_APPR_PROCESS_START',
                             'HOUR_APPR_PROCESS_START',
                             'REG_REGION_NOT_LIVE_REGION',
                             'REG_REGION_NOT_WORK_REGION',
                             'LIVE_REGION_NOT_WORK_REGION',
                             'LIVE_CITY_NOT_WORK_CITY',
                             'REG_CITY_NOT_LIVE_CITY',
                             'REG_CITY_NOT_WORK_CITY'])]
data6['Description'].iloc[29:40].tolist()

['How many family members does client have',
 'Our rating of the region where client lives (1,2,3)',
 'Our rating of the region where client lives with taking city into account (1,2,3)',
 'On which day of the week did the client apply for the loan',
 'Approximately at what hour did the client apply for the loan',
 "Flag if client's permanent address does not match contact address (1=different, 0=same, at region level)",
 "Flag if client's permanent address does not match work address (1=different, 0=same, at region level)",
 "Flag if client's contact address does not match work address (1=different, 0=same, at region level)",
 "Flag if client's permanent address does not match contact address (1=different, 0=same, at city level)",
 "Flag if client's permanent address does not match work address (1=different, 0=same, at city level)",
 "Flag if client's contact address does not match work address (1=different, 0=same, at city level)"]

In [7]:
data6.iloc[40:50]
data6['Description'].iloc[41:44].tolist() #external source

['Normalized score from external data source',
 'Normalized score from external data source',
 'Normalized score from external data source']

In [73]:
data6['Description'].iloc[181:183].tolist()

['On which day of the week did the client apply for previous application',
 'Approximately at what day hour did the client apply for the previous application']

In [22]:
data6.loc[data6['Row'].isin(['EXT_SOURCE_1',
                             'EXT_SOURCE_2',
                             'EXT_SOURCE_3',
                             'APARTMENTS_AVG',
                             'BASEMENTAREA_AVG',
                             'YEARS_BEGINEXPLUATATION_AVG',
                             'YEARS_BUILD_AVG',
                             'NONLIVINGAREA_MODE',
                             'TOTALAREA_MODE'])]
#data6['Description'].iloc[44:51].tolist()
data6['Description'].iloc[88]

'Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor'

In [78]:
data6.loc[data6['Row'].isin(['OBS_30_CNT_SOCIAL_CIRCLE'
                             ,'DEF_30_CNT_SOCIAL_CIRCLE'
                             ,'OBS_60_CNT_SOCIAL_CIRCLE'
                             ,'DEF_60_CNT_SOCIAL_CIRCLE'])]

,Unnamed: 0,Table,Row,Description,Special
91,94,application_{train|test}.csv,OBS_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
92,95,application_{train|test}.csv,DEF_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
93,96,application_{train|test}.csv,OBS_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
94,97,application_{train|test}.csv,DEF_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN

In [79]:
data6['Description'].iloc[91:95].tolist()

["How many observation of client's social surroundings with observable 30 DPD (days past due) default",
 "How many observation of client's social surroundings defaulted on 30 DPD (days past due) ",
 "How many observation of client's social surroundings with observable 60 DPD (days past due) default",
 "How many observation of client's social surroundings defaulted on 60 (days past due) DPD"]

In [32]:
data6.loc[data6['Row'].isin(['SK_ID_BUREAU', 
                             'CREDIT_ACTIVE', 
                             'CREDIT_CURRENCY',
                             'DAYS_CREDIT', 
                             'CREDIT_DAY_OVERDUE', 
                             'DAYS_CREDIT_ENDDATE',
                             'DAYS_ENDDATE_FACT', 
                             'AMT_CREDIT_MAX_OVERDUE',
                             'CNT_CREDIT_PROLONG',
                             'AMT_CREDIT_SUM',
                             'AMT_CREDIT_SUM_DEBT', 
                             'AMT_CREDIT_SUM_LIMIT',
                             'AMT_CREDIT_SUM_OVERDUE',
                             'CREDIT_TYPE', 
                             'DAYS_CREDIT_UPDATE'])]
# 'SK_ID_CURR','AMT_ANNUITY'
#data6['Description'].iloc[122:139].tolist()

,Unnamed: 0,Table,Row,Description,Special
124,127,bureau.csv,CREDIT_ACTIVE,Status of the Credit Bureau (CB) reported credits,NaN
125,128,bureau.csv,CREDIT_CURRENCY,Recoded currency of the Credit Bureau credit,recoded
126,129,bureau.csv,DAYS_CREDIT,How many days before current application did c...,time only relative to the application
127,130,bureau.csv,CREDIT_DAY_OVERDUE,Number of days past due on CB credit at the ti...,NaN
128,131,bureau.csv,DAYS_CREDIT_ENDDATE,Remaining duration of CB credit (in days) at t...,time only relative to the application
129,132,bureau.csv,DAYS_ENDDATE_FACT,Days since CB credit ended at the time of appl...,time only relative to the application
130,133,bureau.csv,AMT_CREDIT_MAX_OVERDUE,Maximal amount overdue on the Credit Bureau cr...,NaN
131,134,bureau.csv,CNT_CREDIT_PROLONG,How many times was the Credit Bureau credit pr...,NaN
132,135,bureau.csv,AMT_CREDIT_SUM,Current credit amount for the Credit Bureau cr...,NaN
133,136,bureau.csv,AMT_CREDIT_SUM_DEBT,Current debt on Credit Bureau credit,NaN
134,137,bureau.csv,AMT_CREDIT_SUM_LIMIT,Current credit limit of credit card reported i...,NaN
135,138,bureau.csv,AMT_CREDIT_SUM_OVERDUE,Current amount overdue on Credit Bureau credit,NaN
136,139,bureau.csv,CREDIT_TYPE,"Type of Credit Bureau credit (Car, cash,...)",NaN
137,140,bureau.csv,DAYS_CREDIT_UPDATE,How many days before loan application did last...,time only relative to the application

In [18]:
data6['Description'].iloc[131]

'How many times was the Credit Bureau credit prolonged'